@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer theme, base, mantine, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);

@import '@mantine/core/styles.layer.css';
@import '@mantine/dates/styles.layer.css';
@import '@mantine/notifications/styles.layer.css';

@import 'tailwindcss/utilities.css' layer(utilities);

@import './light.css';
@import './dark.css';
@import './theme.css';
@import './mantine.css';
@import '@xyflow/react/dist/style.css';

@layer base {
  button {
    cursor: pointer;
  }
}

@custom-variant dark (&:where([data-mantine-color-scheme=dark], [data-mantine-color-scheme=dark] *));

:root,
.scrollbar {
  /* Native scrollbar */
}



/* Minimal Scrollbar */
.minimal-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.minimal-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  /* gray-300 */
  border-radius: 4px;
}


@layer utilities {
  @keyframes scan {

    0%,
    100% {
      top: 0%;
    }

    50% {
      top: 95%;
    }
  }

  .animate-scan {
    animation: scan 3s ease-in-out infinite;
  }

  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .scanning-bar {
    background: linear-gradient(to bottom, transparent, rgba(124, 58, 237, 0.3), rgba(124, 58, 237, 0.6), rgba(124, 58, 237, 0.3), transparent);
    box-shadow: 0 0 15px rgba(124, 58, 237, 0.4);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}