:root {
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-150: #ececee;
  --gray-200: #e4e4e7;
  --gray-250: #dcdcdf;
  --gray-300: #d4d4d8;
  --gray-350: #babac1;
  --gray-400: #a1a1aa;
  --gray-450: #898992;
  --gray-500: #71717a;
  --gray-550: #61616a;
  --gray-600: #52525b;
  --gray-650: #484850;
  --gray-700: #3f3f46;
  --gray-750: #333338;
  --gray-800: #27272a;
  --gray-850: #1f1f22;
  --gray-900: #18181b;
  --gray-950: #121214;

  --primary: #8300e6;
  --primary-hover: #7500d1;

  --secondary: #19c1d4;
  --secondary-hover: #16a9b9;

  --red: #dc2626;
  --red-hover: #ca2121;

  --orange: #ea580c;
  --orange-hover: #d64c0c;

  --yellow: #ca8a04;
  --yellow-hover: #b57606;

  --green: #16a34a;
  --green-hover: #169143;

  --blue: #2563eb;
  --blue-hover: #2158e1;

  --indigo: #4f46e5;
  --indigo-hover: #493fd7;

  --violet: #7c3aed;
  --violet-hover: #7531e3;

  --pink: #db2777;
  --pink-hover: #cc206a;

  --surface: white;
  --surface-emphasized: white;

  --overlay: var(--gray-700);
}
