@layer mantine {
  .mantine-Notification-title {
    color: var(--gray-900);
    font-weight: 600;
  }

  .mantine-Notification-description {
    color: var(--gray-600);
    font-weight: normal;
  }

  .mantine-Notification-closeButton {
    color: var(--gray-500);
  }

  .mantine-Notification-closeButton:hover {
    color: var(--gray-600);
    background-color: var(--surface-raised-hover);
  }

  .mantine-Notification-icon {
    background-color: transparent;
  }

  input[readonly]:not([disabled]) {
    border-style: dashed;
  }

  .mantine-Radio-icon circle {
    fill: var(--surface);
  }

  input[value='--'] {
    color: var(--gray-400);
  }
}
