@layer mantine {
  .mantine-Notification-title {
    color: var(--gray-13);
    font-weight: 600;
    font-size: 16px;
  }

  .mantine-Notification-description {
    color: var(--gray-11);
    font-weight: normal;
    font-size: 14px;
  }

  .mantine-Notification-closeButton {
    color: var(--gray-11);
  }

  .mantine-Notification-closeButton:hover {
    color: var(--gray-12);
    background-color: var(--gray-4);
  }

  .mantine-Notification-icon {
    background-color: transparent;
  }

  input[readonly]:not([disabled]) {
    border-style: dashed;
  }
}
