@theme inline {
  --font-inter: 'Inter', 'sans-serif';
  --font-poppins: 'Poppins', sans-serif;

  --shadow-emphasized: 0px 10px 15px -3px #12121414;

  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-150: var(--gray-150);
  --color-gray-200: var(--gray-200);
  --color-gray-250: var(--gray-250);
  --color-gray-300: var(--gray-300);
  --color-gray-350: var(--gray-350);
  --color-gray-400: var(--gray-400);
  --color-gray-450: var(--gray-450);
  --color-gray-500: var(--gray-500);
  --color-gray-550: var(--gray-550);
  --color-gray-600: var(--gray-600);
  --color-gray-650: var(--gray-650);
  --color-gray-700: var(--gray-700);
  --color-gray-750: var(--gray-750);
  --color-gray-800: var(--gray-800);
  --color-gray-850: var(--gray-850);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);

  --color-red: var(--red);
  --color-red-hover: var(--red-hover);

  --color-orange: var(--orange);
  --color-orange-hover: var(--orange-hover);

  --color-yellow: var(--yellow);
  --color-yellow-hover: var(--yellow-hover);

  --color-green: var(--green);
  --color-green-hover: var(--green-hover);

  --color-blue: var(--blue);
  --color-blue-hover: var(--blue-hover);

  --color-indigo: var(--indigo);
  --color-indigo-hover: var(--indigo-hover);

  --color-violet: var(--violet);
  --color-violet-hover: var(--violet-hover);

  --color-pink: var(--pink);
  --color-pink-hover: var(--pink-hover);

  --color-surface: var(--surface);
  --color-surface-emphasized: var(--surface-emphasized);

  --color-overlay: var(--overlay);
}
