VITE_BASE_URL="https://cloud.ezofis.com/api"
VITE_V6_BASE_URL="https://cloud.ezofis.com/api"
VITE_GOOGLE_CLIENT_ID=154003149422-r47sovs0tdd345o5d8hj8hceq5og53eg.apps.googleusercontent.com
VITE_MSAL_CLIENT_ID_DEFAULT=315d2d09-9633-419e-8e85-18b747eb5be5
VITE_POSTHOG_HOST=https://us.i.posthog.com
VITE_COLLABORA_API_URL="https://collabora-2wf8.onrender.com"
VITE_COLLABORA_VIEWER_URL="https://ez-officeviewer-app.graycoast-78e47e4a.southindia.azurecontainerapps.io/browser/dist/cool.html"
