<?xml version="1.0" encoding="utf-8"?>
<!--
  Folder publish to IIS site folder.
  IMPORTANT: Stop IIS app pool before publish. Do not run API from VS (F5) at the same time.
-->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>D:\Aravinthan_Backup\V6_SAAS_API</PublishUrl>
    <PublishDir>D:\Aravinthan_Backup\V6_SAAS_API</PublishDir>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
  </PropertyGroup>
</Project>
